:host {
    .container {
      display: flex;
      color: black;
      background: linear-gradient(
          to right,
          rgba(245, 245, 245, 0.8),
          rgba(245, 245, 245, 0.8)
        ),
        url(../../../assets/img/common-bg.svg);
      background-position: center;
      height: auto;
      position: relative;
      flex-direction: column;
      background-size: cover;
      background-position: center;
      padding: 0 1rem;
  
      h2 {
        position: relative;
        top: 1rem;
        display: grid;
        padding: 1rem 2rem;
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
        row-gap: 2rem;
  
        .heading-sec__main {
          display: block;
          font-size: 2rem;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
          letter-spacing: 3px;
          text-align: center;
          position: relative;
        }
  
        .heading-sec__main::after {
          content: "";
          position: absolute;
          top: calc(100% + 1.8rem);
          // top: calc(100% + 1.5rem);
          height: 5px;
          width: 3rem;
          background: #7843e9;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 5px;
        }
  
        .heading-sec__sub {
          white-space: normal;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-align: center;
          color: #555;
          font-size: 1rem;
          font-weight: 300;
          max-width: 60rem;
          margin: auto;
          line-height: 1.6;
        }
      }
  
      .contact__form-container {
        box-shadow: rgba(100, 100, 111, 0.2) 5px -8px 15px 17px;
        background: var(--white);
        padding: 3rem;
        max-width: 80rem;
        text-align: left;
        width: 95%;
        border-radius: 10px;
        margin: 4rem auto 2rem auto;
  
        form {
          display: block;
        }
  
        .contactForm {
          width: 100%;
  
          mat-grid-list {
            width: 100%;
            height: 100%;
            // margin: 0 auto;
  
            mat-grid-tile {
              width: 100%;
  
              mat-form-field {
                width: 100%;
                height: 100%;
  
                mat-label {
                  color: var(--black);
                  font-size: 1rem;
                }
              }
  
              .btn {
                text-align: center;
                width: 100%;
  
                button {
                  width: 100%;
                  height: 60px;
                  background: #7843e9;
                  color: var(--white);
                  text-transform: uppercase;
                  display: inline-block;
                  font-weight: 500;
                  font-size: 1rem;
                  letter-spacing: 2px;
                  border-radius: 5px;
                  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
                }
              }
            }
          }
        }
      }
    }
  }
  
  //pc
  
  :host.pc {
    .container {
      h2 {
        padding: 3rem 5rem;
        position: relative;
        top: 2rem;
  
        .heading-sec__main {
          font-size: 3.5rem;
          font-weight: 600;
        }
  
        .heading-sec__main::after {
          top: calc(100% + 1.5rem);
          height: 7px;
          width: 4rem;
        }
  
        .heading-sec__sub {
          -webkit-line-clamp: 2;
          font-weight: 500;
          font-size: 1.2rem;
          max-width: 50rem;
        }
      }
  
      .contact__form-container {
        padding: 4rem;
        max-width: 55rem;
        margin: 4rem auto 4rem auto;
  
        .contactForm {
          width: 100%;
  
          mat-grid-list {
  
            mat-grid-tile {
  
              .btn {
                width: 30%;
  
                button {
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
  