<div class="container">
  <h2 class="heading heading-sec heading-sec__mb-med">
    <span class="heading-sec__main">About Me</span>
    <span class="heading-sec__sub">
      Here you will find more information about me, what I do, and my current
      skills mostly in terms of programming and technology.
    </span>
  </h2>
  <div class="about__content">
    <div class="about__content-main">
      <h3 class="about__content-title">Get to know me!</h3>
      <div class="about__content-details">
        <p class="about__content-details-para">
          I'm a <strong>Full-Stack Web Developer</strong> building the Front-end
          of Websites and Full stack Web Applications that leads to the success of the
          overall product. Check out some of my work in the
          <strong>Projects</strong> section.
        </p>
        <p class="about__content-details-para">
          I also like sharing content related to the stuff that I have learned
          over the years in <strong>Web Development</strong> so it can help
          other people of the Dev Community. Feel free to Connect or Follow me
          on my
          <a
            rel="noreferrer"
            href="https://linkedin.com/in/juyel-hushen-770674170"
            target="_blank"
            >Linkedin</a
          >
          where I post useful content related to Web Development and Programming
        </p>
        <p class="about__content-details-para">
          I'm open to <strong>Job</strong> opportunities where I can contribute,
          learn and grow. If you have a good opportunity that matches my skills
          and experience then don't hesitate to <strong>contact</strong> me.
        </p>
      </div>
      <div class="btn">
        <button mat-raised-button>Contact</button>
      </div>
    </div>
    <div class="about__content-skills">
      <h3 class="about__content-title">My Skills</h3>
      <div class="skills">
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/html.png" id="html"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/css.png" id="css"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/js.png" id="js"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/java.png"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/bootstrap.png" id="bootstrap"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/spring-boot.png" id="spring boot"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/angular.png" id="angular"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/github.png" id="github"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/TypeScript.png" id="TypeScript"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/sql.png" id="SQL"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/Postgresql.png" id="postgres"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/grafana.png" id="grafana"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/outsystem.png" id="outsystem"></div>
    </div>
    </div>
  </div>
</div>
