<footer>
  <div class="container">
    <div class="row">
      <div>
        <div class="social-icons">
          <div class="button">
            <div class="icon">
              <a href=""><i class="bx bxl-facebook"></i></a>
            </div>
          </div>
          <div class="button">
            <div class="icon">
              <a href=""><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
          <div class="button">
            <div class="icon">
              <a href=""><i class="bx bxl-instagram-alt"></i></a>
            </div>
          </div>
          <div class="button">
            <div class="icon">
              <a href=""><i class="bx bxl-github"></i></a>
            </div>
          </div>
          <div class="button">
            <div class="icon">
              <a href="https://www.youtube.com/channel/UCKuZogE-0ye5wpY0_JMdcIg"
                ><i class="bx bxl-youtube"></i
              ></a>
            </div>
          </div>
        </div>
        <mat-divider class="divider" ></mat-divider>
        <div class="page-scroll">
          <a id="to-top" class="page-scroll" href="#page-top">
            <img id="rocket" src="../../../assets/img/rocket.png"  matTooltip="Beam me up, Scotty!"  [matTooltipPosition]='tooltipPostion' [matTooltipShowDelay]='300'  [matTooltipHideDelay]="300" />
          </a>
        </div>
        <mat-divider></mat-divider>
        <div class="copyright">
          <p>&copy; Juyel Hushen 2023.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
