<div class="container">
  <div class="confirmContainer">
    <mat-card class="card">
      <img mat-card-image src="../../../assets/img/yes.png" alt="yes" />
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>Thank You!</mat-card-title>
        <!-- <mat-card-subtitle>Your Message has been received.</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <p>Your Detail has been submitted and received successfully. Thanks!</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="goBack()">← Back to Site</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
