<div class="container">
  <div class="confirmContainer">
    <mat-card
      class="card"
      data-aos="fade-down"
      data-aos-delay="150"
      data-aos-duration="1000"
      data-aos-easing="ease forwards"
      data-aos-offset="100"
      data-aos-once="true"
    >
      <img mat-card-image src="../../../assets/img/yes.png" alt="yes" />
      <mat-card-header>
        <mat-card-title>Thank You!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Your Detail has been submitted and received successfully. Thanks!</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button (click)="goBack()">← Back to Site</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
