<div class="container">
  <div class="social-icons" *ngIf="isMobile">
    <div class="button">
      <div class="icon"><i class="bx bxl-facebook"></i></div>
      <span>Facebook</span>
    </div>
    <div class="button">
      <div class="icon"><i class="bx bxl-linkedin"></i></div>
      <span>Linkedin</span>
    </div>
    <div class="button">
      <div class="icon"><i class="bx bxl-instagram-alt"></i></div>
      <span>Instagram</span>
    </div>
    <div class="button">
      <div class="icon"><i class="bx bxl-github"></i></div>
      <span>Github</span>
    </div>
    <div class="button">
      <div class="icon"><i class="bx bxl-youtube"></i></div>
      <span>Youtube</span>
    </div>
  </div>
  <div class="home">
      <h1 class="name" >Hey, I'm Juyel Hushen</h1>
    <div class="info">
      <p>
        I'm a Full Stack developer based in Chennai, Taminadu, India. I have
        worked on many types of Full-Stack from fintech applications to
        Ecommerce booking platforms.
      </p>
    </div>
    <div class="btn">
      <button mat-raised-button color="primary">Projects</button>
    </div>
  </div>
</div>
