<div class="container">
  <h2 class="heading heading-sec heading-sec__mb-bg">
    <span class="heading-sec__main">Projects</span>
    <span class="heading-sec__sub">
      Here you will find some of the personal and clients projects that I
      created with each project containing its own live link.
    </span>
  </h2>

  <div class="projects__content">
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="../../../assets/img/finmart.png"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">Finmart</h3>
        <p class="projects__row-content-desc">
          Finmart is a trusted financial marketplace and one of the leading
          banking aggregators in the UAE. It helps people to find Bank accounts,
          credit cards & personal loans. I was among one who worked in backend
          and frontend while developing this application.
        </p>
        <div class="btn">
          <button mat-raised-button>Live Link</button>
        </div>
      </div>
    </div>
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="../../../assets/img/finmart.png"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">Corban</h3>
        <p class="projects__row-content-desc">
          Corban is a Banking Notification Alert System. It is used to send
          alert message to the customer via SMS, WhatsApp, Email and Telegram.
          and I created their backend from scratch using the backend tools I
          know.
        </p>
        <div class="btn">
          <button mat-raised-button>
            <a href="https://finmart.ae"></a>Live Link
          </button>
        </div>
      </div>
    </div>
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="../../../assets/img/joefolio.jpeg"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">Joefolio</h3>
        <p class="projects__row-content-desc">
          Petropolis is a multiservice logistics and transport company and I
          created their website from scratch using the frontend tools I know.
        </p>
        <div class="btn">
          <button mat-raised-button>Live Link</button>
        </div>
      </div>
    </div>
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img
          src="../../../assets/img/finmart.png"
          alt="Software Screenshot"
          class="projects__row-img"
          loading="lazy"
        />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">Biraniyum</h3>
        <p class="projects__row-content-desc">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci,
          assumenda molestias placeat similique illum quisquam doloribus.
          Voluptate quasi dolores similique.
        </p>
        <div class="btn">
          <button mat-raised-button>Live Link</button>
        </div>
      </div>
    </div>
  </div>
</div>
