
<div class="container">


  <mat-drawer-container class="example-container" hasBackdrop='true'>
  <mat-drawer class="circularDrawer"  #drawer mode='over' position="end" opened>
    <div class="drawerInfo">
      <ul>
        <li><a href="#" style="--i: 0">Home</a></li>
        <li><a href="#" style="--i: 0">About</a></li>
        <li><a href="#" style="--i: 0">Projects</a></li>
        <li><a href="#" style="--i: 0">Contact</a></li>
      </ul>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-home Responsive></app-home>
    <app-about Responsive></app-about>
    <app-projects Responsive></app-projects>
    <app-contact Responsive></app-contact>
    <app-footer Responsive></app-footer>

  </mat-drawer-content>
</mat-drawer-container>

</div>
