.drawerContainer {
  margin: 0 auto;
  overflow: none;
}

mat-drawer-content {
  display: flex;
  flex-direction: column;
  background-color: var(--navy);
}

.circularDrawer {
  position: fixed;
  width: 100%;
  clip-path: circle(400px at right 30px);
  height: 100vh;
  background-color: var(--navy);

  .drawerInfo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: column;
      margin-top: -10rem;
      margin-left: 7rem;
      color: var(--green);
      font-size: 20px;

      li {
        margin: .5em;
        list-style: none;

        a {
          font-family: var(--font-mono);
          text-transform: uppercase;
          font-size: 20px;
          letter-spacing: 2px;
          font-weight: 500;
          text-decoration: none;
          border-radius: 10px 10px 0 0;
          color: var(--green);
          position: relative;
          transition: var(--transition);
          transition-delay: 1s;
          z-index: 1;

          &:hover {
            color: var(--white-gray);
            text-decoration: line-through;
          }
        }

      }
    }
  }
}



@media (300px <= width <= 400px) {
  .circularDrawer {
    clip-path: circle(400px at right 30px);

    .drawerInfo {
      ul {
        margin-top: -25rem;
        margin-left: 9rem;
      }
    }
  }
}

@media (400px <= width <= 500px) {
  .circularDrawer {
    clip-path: circle(450px at right 30px);

    .drawerInfo {
      ul {
        margin-top: -26rem;
        margin-left: 7rem;
      }
    }
  }
}

@media (500px <= width <= 600px) {
  .circularDrawer {
    clip-path: circle(550px at right 30px);

    .drawerInfo {
      ul {
        margin-top: -20rem;
        margin-left: 7rem;
      }
    }
  }
}
@media (600px <= width <= 700px) {
  .circularDrawer {
    clip-path: circle(650px at right 30px);

    .drawerInfo {
      ul {
        margin-top: -18rem;
        margin-left: 7rem;
      }
    }
  }
}

@media (700px <= width <= 800px) {
  .circularDrawer {
    clip-path: circle(750px at right 30px);

    .drawerInfo {
      ul {
        margin-top: -12rem;
        margin-left: 7rem;
      }
    }
  }
}
