<div class="sidebarContainer">
  <app-topbar (sidenavToggle)="drawer.toggle()" Responsive></app-topbar>
  <mat-drawer-container class="drawerContainer" hasBackdrop="true">
    <mat-drawer class="circularDrawer" #drawer mode="over" position="end" >
      <div class="drawerInfo">
        <ul (click)="toggle()">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </mat-drawer>
    <mat-drawer-content matRipple [matRippleRadius]='radius' [matRippleColor]='color'>
      <div id="home">
        <app-home Responsive></app-home>
      </div>
      <div id="about">
        <app-about Responsive></app-about>
      </div>
      <div id="resume">
        <app-resume Responsive></app-resume>
      </div>
      <div id="projects">
        <app-projects Responsive></app-projects>
      </div>
      <div id="contact">
        <app-contact Responsive></app-contact>
      </div>
      <app-footer Responsive></app-footer>
    </mat-drawer-content>
  </mat-drawer-container>
  <div></div>
</div>
