:host {
  .resumeContainer {
    display: flex;
    width: 100%;
    min-height: 150px;
    background-color: var(--green);
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;

      span {
        font-family: Gotham, Helvetica, Arial, sans-serif;
        font-size: 1.2em;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--white);
        letter-spacing: 2px;
        overflow: hidden;
        opacity: 0;
        animation: slideTop .3s ease forwards;
        animation-delay: 0.1s;
      }

      .icon {
        width: 60px;
        opacity: 0;
        animation: slideBottom .3s ease forwards;
        animation-delay: 0.1s;
      }
    }
  }
}
