:host {
  .resumeContainer {
    display: flex;
    width: 100%;
    min-height: 150px;
    background-color: var(--green);
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;

      span {
        font-family: Gotham, Helvetica, Arial, sans-serif;
        font-size: 1.2em;
        font-weight: 700;
        text-transform: uppercase;
        color: #f2f2f2;
        letter-spacing: 2px;
        overflow: hidden;
      }

      .icon {
        width: 60px;
      }
    }
  }
}
