<!-- <div class="container">
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>

</div> -->

<div class="container">
  <mat-toolbar>
    <div class="header-logo">
      <a href="#"
        ><img class="logo" src="../../../assets/img/icon.png" alt="header-icon"
      /></a>
      <p class="nav-title">Juyel Hushen</p>
    </div>

    <span class="spacer"></span>
    <div class="nav-items" >
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">PROJECTS</a></li>
        <li><a href="">CONTACT</a></li>
      </ul>
    </div>

    <div class="sidenav-toggle" (click)="toggleSidenav()">
      <button mat-icon-button color="primary" >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
