:host {
  .container {
    display: block;
    width: 100%;
    z-index: 1000;
    position: relative;

    mat-toolbar {
      display: flex;
      max-width: 1500px;
      height: 4rem;
      position: fixed;
      background: var(--white);
      box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);

      .header-logo {
        display: grid;
        grid-template-columns: auto 1fr;
        // grid-template-rows: 1fr;
        column-gap: 10px;
        place-items: center;

        .logo {
          position: relative;
          top: 5px;
          width: 80px;
        }

        p {
          font-size: 1.5rem;
          font-weight: 600;
        }

        .nav-title {
          margin: -20px;
          color: var(--black);
        }
      }

      .navItems {
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;

        ul {
          display: flex;
          list-style: none;
          flex-direction: row;

          li {
            margin: 1em;

            a {
              color: var(--black);
              font-size: 20px;
              letter-spacing: 0px;
              font-weight: 400;
              text-decoration: none;
              transition: all 0.3s ease-out;
              text-decoration: none;
              padding: 0.2em 1.2em 0.9em 1.2em;
              border-radius: 10px 10px 0 0;
              color: rgb(39, 39, 39);
              position: relative;
              z-index: 1;
            }

            a::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 60px;
              border-radius: 10px 10px 0 0;
              background: #853333;
              transform-origin: end;
              background: linear-gradient(to right, #11232b, #0796c5, #a8cad8);
              transform: scaleY(0.03);
              z-index: -1;
              transition: all 0.3s ease-out;
            }

            a:hover::before {
              transform: scaleY(.7);
            }

            a:hover {
              color: var(--white);
            }
          }
        }
      }
    }
  }

  :host.pc {
    .container {
      mat-toolbar {
        height: 5rem;
      }
    }
  }

  // .sidenav-container {
  //   display: flex;
  //   height: 100vh;
  // }

  // mat-drawer {
  //   width: 250px; /* Set your desired width */
  //   flex-shrink: 0;
  //   position: absolute;
  //   top: 0;
  // }

  // mat-drawer-content {
  //   flex-grow: 1;
  //   overflow: auto;
  // }
}
